{% extends 'parent.html' %}


<!-- Head starts -->
{% block headcontent %}

<title>Import CSV data to Google sheet</title>

{% endblock %}
<!-- Head ends -->


<!-- Body starts -->
{% block bodycontent %}

<h1 class="text-center pt-1">The Ultimate CSV importer for Google sheets</h1>


<div class="row">

    <div class="mx-auto col-10 col-md-8 col-lg-6">

        <form class="container mt-5 pt-5" method="post" enctype="multipart/form-data">

            <h2>Hi!, Upload your file here...</h2>
            
            {% csrf_token %}

            {% if error %}
                <div class="alert alert-danger" role="alert">
                  <b>{{error}}</b>
                </div>
            {% endif %}
            
            <input type="file" accept=".csv" name="file" class="mt-5">
            
            <button type="submit" class="btn btn-primary">Proceed</button>
            
        </form>

    </div>

</div>




  

{% endblock %}
<!-- Body ends -->